.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}
.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    background: var(--white);
    border-radius: .5rem;
}
.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--txt-suave);
    border: var(--border);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}
.contact .row form .box:focus{
    border-color: var(--title-color);
}
.contact .row form textarea{
    height: 15rem;
    resize: none;
}
.contact .row .image{
    flex: 1 1 40rem;
}
.contact .row .image img{
    width: 100%;
}